---
---

$background-color: #ffffff;
$text-color: #000000;
$link-base-color: #0000ee;
$link-hover-color: #0000ee;
$brand-color: #000000;

@import "minima";

body {
  font-family: Georgia, serif;
  font-size: 19px;
  line-height: 1.75;
  max-width: 680px;
  margin: 70px auto;
  padding: 0 24px;
}

.site-header {
  border-bottom: none;
  margin-bottom: 40px;
}

.site-title {
  font-weight: normal;
  font-size: 24px;
}

.site-footer {
  display: none;
}

.post-meta {
  color: #666;
  font-size: 14px;
}
