---
---

$background-color: #ffffff;
$text-color: #000000;
$link-base-color: #0000ee;
$link-hover-color: #0000ee;

@import "minima";

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.7;
  max-width: 680px;
  margin: 60px auto;
  padding: 0 24px;
}

.site-header {
  border-bottom: none;
}

.site-footer {
  display: none;
}

.post-meta {
  color: #666;
}
