---
---

$background-color: #0f0f0f;
$text-color: #e6e6e6;
$link-base-color: #7dd3fc;
$link-hover-color: #38bdf8;
$brand-color: #7dd3fc;
$grey-color: #aaaaaa;

@import "minima";

/* Optional refinement */
body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.7;
  max-width: 720px;
  margin: 60px auto;
  padding: 0 24px;
}

.site-footer {
  display: none;
}

.post-meta {
  display: none;
}
